<%= form_for(@certificatetype) do |f| %>
  <% if @certificatetype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@certificatetype.errors.count, "error") %> prohibited this certificatetype from being saved:</h2>

      <ul>
      <% @certificatetype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-horizontal">
    <div class="field form-group">
      <%= f.label :name, class:"col-sm-2 control-label" %><br>
      <div class="col-sm-6">
        <%= f.text_field :name , class:"form-control", placeholder:"Name" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <div class="actions">
          <%= f.button :submit, name: "commit", value: "commit", class:"btn btn-sm btn-success" do %>
            <span class="glyphicon glyphicon-ok"></span> Submit
          <% end %>
          <%= link_to '<span class="glyphicon glyphicon-remove"></span> Cancel'.html_safe, request.referer, class:"btn btn-sm btn-default" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
