<h1>Listing Keystores</h1>
<% if Keystore.all.any? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th class="col-xs-1">Keypair</th>
        <th class="col-xs-1">CSR</th>
        <th class="col-xs-1">Certificate</th>
        <th>Action</th>
      </tr>
      </thead>
    
      <tbody>
      <% @keystores.each do |keystore| %>
        <%# check if keystore misses a keypair, csr or certificate %>
          <% (keystore.keypair.nil? || keystore.csr.nil? || keystore.certificate.nil?) ? @keystore_incomplete = true : @keystore_incomplete = false %>
        <%# check if keystore is empty %>
          <% (keystore.keypair.nil? && keystore.csr.nil? && keystore.certificate.nil?) ? @keystore_empty = true : @keystore_empty = false %>
        <% if @keystore_empty
             @keystore_context = ' danger'
           elsif @keystore_incomplete
             @keystore_context = ' warning'
           else
             @keystore_context = ''
           end  # if %>
        <tr class="<%=@keystore_context%>">
          <td><%= truncate(keystore.name) %></td>
          <td><%= truncate(keystore.description) %></td>
          <td>
		        <% unless keystore.keypair.nil? %>
              <%= link_to '<span class="glyphicon glyphicon-zoom-in"></span>'.html_safe + ' ' + truncate(keystore.keypair.name, length: 12), keypair_path(keystore.keypair), class: 'btn btn-xs btn-default btn-show-modal', remote: true %>
		        <% else %>
		          -
		        <% end  # unless %>
          </td>
		      <td>
		        <% unless keystore.csr.nil? %>
              <%= link_to '<span class="glyphicon glyphicon-zoom-in"></span>'.html_safe + ' ' + truncate(keystore.csr.name, length: 12), csr_path(keystore.csr), class: 'btn btn-xs btn-default btn-show-modal', remote: true %>
		        <% else %>
		          -
		        <% end  # unless %>
          </td>
		      <td>
		        <% unless keystore.certificate.nil? %>
              <%= link_to '<span class="glyphicon glyphicon-zoom-in"></span>'.html_safe + ' ' + truncate(keystore.certificate.name, length: 12), certificate_path(keystore.certificate), class: 'btn btn-xs btn-default btn-show-modal', remote: true %>
            <% else %>
              -
		        <% end  # unless %>
          </td>
          <td>
            <%# disable the export-button if there are not exportable items in the keystore %>
            <% if @keystore_empty == true
              @keystore_exportbutton_status = " disabled"
            else
              @keystore_exportbutton_status = ""
            end  # if %>
            <%= link_to '<span class="glyphicon glyphicon-export"></span> Export'.html_safe, export_keystore_path(keystore), class:"btn btn-xs btn-default#{@keystore_exportbutton_status}", target: '_blank' %>
            <%= link_to '<span class="glyphicon glyphicon-edit"></span> Edit'.html_safe, edit_keystore_path(keystore), class:'btn btn-xs btn-default btn-show-modal', remote: true %>
            <%= link_to '<span class="glyphicon glyphicon-trash"></span> Delete'.html_safe, keystore, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger' %>
    	    </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= render 'layouts/modal' %>
  </div>
<% end %>

<%= link_to '<span class="glyphicon glyphicon-plus-sign"></span> Add Keystore'.html_safe, new_keystore_path, class:'btn btn-xs btn-default btn-show-modal', remote: true %>
