<h1>Listing Keystores</h1>
<% if Keystore.all.any? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Keypair</th>
        <th>CSR</th>
        <th>Certificate</th>
        <th>Action</th>
      </tr>
      </thead>
    
      <tbody>
      <% @keystores.each do |keystore| %>
        <tr>
        <td><%= keystore.id %></td>
        <td><%= keystore.name %></td>
        <td><%= keystore.description %></td>
        <td><%= link_to keystore.keypair.name, keystore.keypair, style:"text-decoration: none" %></td>
        <td><%= link_to keystore.csr.name, keystore.csr, style:"text-decoration: none" %></td>
        <td><%= link_to keystore.certificate.name, keystore.certificate, style:"text-decoration: none" %></td>
        <td>
          <%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_keystore_path(keystore), class:"btn btn-sm btn-default" %>
          <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, keystore, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" %>
    	</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<a class="btn btn-sm btn-default" href="<%=new_keystore_path%>" role="button">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  Add Keystore
</a>
