<h1>Listing Keystores</h1>
<% if Keystore.all.any? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Keypair</th>
        <th>CSR</th>
        <th>Certificate</th>
        <th>Action</th>
      </tr>
      </thead>
    
      <tbody>
      <% @keystores.each do |keystore| %>
        <tr>
        <td class="col-md-1"><%= keystore.id %></td>
        <td class="col-md-1"><%= keystore.name %></td>
        <td class="col-md-2"><%= keystore.description %></td>
		<td class="col-md-1">
		  <% unless keystore.keypair.nil? %>
            <%= link_to '<span class="glyphicon glyphicon-zoom-in"></span>'.html_safe + ' ' + truncate(keystore.keypair.name, length: 10), keypair_path(keystore.keypair), class: 'btn btn-xs btn-default btn-show-modal', remote: true %>
		  <% else %>
		    No keypair assigned.
		  <% end  # unless %>
        </td>
		<td class="col-md-1">
		<% unless keystore.csr.nil? %>
          <%= link_to '<span class="glyphicon glyphicon-zoom-in"></span>'.html_safe + ' ' + truncate(keystore.csr.name, length: 10), csr_path(keystore.csr), class: 'btn btn-xs btn-default btn-show-modal', remote: true %>
		  <% else %>
		    No CSR assigned.
		<% end  # unless %>
        </td>
		<td class="col-md-1">
		<% unless keystore.certificate.nil? %>
          <%= link_to '<span class="glyphicon glyphicon-zoom-in"></span>'.html_safe + ' ' + truncate(keystore.certificate.name, length: 10), certificate_path(keystore.certificate), class: 'btn btn-xs btn-default btn-show-modal', remote: true %>
        <% else %>
          No certificate assigned.
		<% end  # unless %>
        </td>
        <td class="col-md-1">
          <%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_keystore_path(keystore), class:"btn btn-sm btn-default" %>
          <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, keystore, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" %>
    	</td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= render 'layouts/modal' %>
  </div>
<% end %>

<a class="btn btn-sm btn-default" href="<%=new_keystore_path%>" role="button">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  Add Keystore
</a>
