<p id="notice"><%= notice %></p>

<h1>Listing Keystores</h1>

<table class="table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Public Key</th>
    <th>Private Key</th>
    <th>CSR</th>
    <th>Certificate</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @keystores.each do |keystore| %>
    <tr>
    <td><%= keystore.id %></td>
    <td><%= keystore.name %></td>
    <td><%= keystore.description %></td>
    <td><%= keystore.publickey.id %></td>
    <td><%= keystore.privatekey.id %></td>
    <td><%= keystore.csr.id %></td>
    <td><%= keystore.certificate.id %></td>
    <td>
	  <%= link_to '<span class="glyphicon glyphicon-zoom-in"></span>'.html_safe, keystore, class:"btn btn-default" %>
      <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_keystore_path(keystore), class:"btn btn-default" %>
      <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, keystore, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %>
	</td>
    </tr>
  <% end %>
  </tbody>
</table>

<a class="btn btn-default" href="<%=new_keystore_path%>" role="button">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  Add Keystore
</a>
