<p>
  <strong>Name:</strong>
  <%= @keystore.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @keystore.description %>
</p>

<p>
  <strong>Keypair:</strong>
  <%= @keystore.keypair.name %>
</p>

<p>
  <strong>CSR:</strong>
  <%= @keystore.csr.name %>
</p>

<p>
  <strong>Certificate:</strong>
  <%= @keystore.certificate.name %>
</p>

<%= link_to 'Edit', edit_keystore_path(@keystore), class:"btn btn-sm btn-default"  %>
<%= link_to 'Back', keystores_path, class:"btn btn-sm btn-default"  %>
