  <% if @csr.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissible">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2><%= pluralize(@csr.errors.count, "error") %> prohibited this csr from being saved:</h2>

      <ul>
      <% @csr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  
  <%= form_for(@csr) do |f| %>

  <div class="form-horizontal" id="form0">
    <div class="form-group">
      <%= f.label :name, class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :name, class:"form-control", id:"name" %>
      </div>
    </div>

    <div class="form-group">
    <%= f.label :keypair_id, class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
           <%= f.select "keypair_id", options_from_collection_for_select(@keypairs, "id", "name", f.object.keypair_id), class:"form-control", include_blank: true %>
      </div>
    </div>
    
    <div class="form-group">
    <%= f.label :csrtemplate_id, class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
           <%= f.select "csrtemplate_id",
		         options_from_collection_for_select(@csrtemplates, "id", "name", f.object.csrtemplate_id),
				 class:"form-control",
				 include_blank: true %>
		   <%= link_to "Fill CSR with template values",
		       templatefiller_csrs_path,
			   method: :post,
			   remote:true,
			   id:"templatefiller_button",
			   class:"btn btn-warning btn-xs"
		   %>
               <%#catch onclick event for above link and submit selected template id to templatefiller.js.erb via AJAX %>
               <script>
                $("#templatefiller_button").on("click", function(event) {
               	event.preventDefault();
               	event.stopPropagation();
                   console.log("templatefiller_button clicked");
               	$.ajax({
                     url: '/csrs/templatefiller',
                     dataType: 'script',
                     data:'csrtemplate_id='+jQuery("#csr_csrtemplate_id").val(),
                     type:'post',
                   })
                 });
               </script>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :cn, class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :cn, class:"form-control", placeholder:"Common name, i.e.: www.example.com", id:"cn" %>
      </div>
  </div>

    <div class="form-group">
      <%= f.label :o, class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :o, class:"form-control", placeholder:"Organization, i.e.: Example Corp.", id:"o" %>
      </div>
  </div>

    <div class="form-group">
      <%= f.label :ou, class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :ou, class:"form-control", placeholder:"Organizational unit, i.e.: IT Department", id:"ou" %>
      </div>
  </div>

    <div class="form-group">
      <%= f.label :l, class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :l, class:"form-control", placeholder:"Location (City), i.e.: St Gallen", id:"l" %>
      </div>
  </div>

    <div class="form-group">
     <%= f.label :s, class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :s, class:"form-control", placeholder:"State, i.e.: SG", id:"s" %>
      </div>
  </div>

    <div class="form-group">
      <%= f.label :c, class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :c, class:"form-control", placeholder:"Country, i.e.: CH", id:"c" %>
      </div>
  </div>

    <div class="form-group">
      <%= f.label :email, class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :email, class:"form-control", placeholder:"Email, i.e.: admin@example.com", id:"email" %>
      </div>
  </div>

	<%# AJAX call for generating a new CSR %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
	    <%= link_to 'Generate CSR',
		    autogenerate_csrs_path,
			method:"POST",
			remote:true,
			id:"autogenerate_button",
			data: { confirm: 'Are you sure?' },
			class:"btn btn-warning btn-xs btn-block"
		%>
        <%#catch onclick event for above link and submit selected template id to templatefiller.js.erb via AJAX %>
        <script>
         $("#autogenerate_button").on("click", function(event) {
        	event.preventDefault();
            event.stopPropagation();
        	$.ajax({
              url: '/csrs/autogenerate',
              dataType: 'script',
              type:'post',
			  data: { name: jQuery("#name").val(),
			          keypair_id: jQuery("#csr_keypair_id").val(),
					  cn: jQuery("#cn").val(),
					  o:jQuery("#o").val(),
					  ou:jQuery("#ou").val(),
					  l:jQuery("#l").val(),
					  s:jQuery("#s").val(),
					  c:jQuery("#c").val(),
					  email:jQuery("#email").val(),
			  },
            })
          });
        </script>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :content, class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_area :content, class:"form-control", rows:"10", id:"content" %>
      </div>
    </div>

    <div class="col-sm-offset-2 col-sm-8">
      <div class="actions">
        <%= f.button :submit, name: "commit", value: "commit", class:"btn btn-success" do %>
          <span class="glyphicon glyphicon-ok"></span> Submit
        <% end %>
        <%= link_to '<span class="glyphicon glyphicon-remove"></span> Cancel'.html_safe, csrs_path, class:"btn btn-default" %>
      </div>
    </div>

  </div>
<% end %>

