<p>
  <strong>Name:</strong><br />
  <%= @csr.name %>
</p>

<p>
  <strong>CSR Data:</strong><br />
  CN=<%= @csr.cn %>, 
  O=<%= @csr.o %>, 
  OU=<%= @csr.ou %>, 
  L=<%= @csr.l %>, 
  S=<%= @csr.s %>, 
  C=<%= @csr.c %>, 
  Email=<%= @csr.email %>
</p>

<p>
  <strong>Content:</strong>
  <br /><button class="btn btn-default btn-xs btn-copy-clipboard" data-clipboard-target="#csr_content"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Copy</button>
  <%= link_to '<span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export'.html_safe, export_csr_path, target:'_blank', data: { no_turbolink: true }, class:'btn btn-xs btn-default' %>
  <br /><small><pre id="csr_content", class="long-paragraph"><%= @csr.content.html_safe %></pre></small>
</p>

<p>
  <button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#collapseDecoded" aria-expanded="false" aria-controls="collapseExample">
    Show decoded CSR: <span class="glyphicon glyphicon-triangle-bottom"></span>
  </button>
  <div class="collapse" id="collapseDecoded">
    <br />
  <small><pre><%= (OpenSSL::X509::Request.new @csr.content).to_text %></pre></small>
  </div>
</p>
