<h1>Listing CSRs</h1>
<% if Csr.all.any? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Keypair</th>
          <th>CSR Template</th>
          <th>Action</th>
        </tr>
      </thead>
    
      <tbody>
        <% @csrs.each do |csr| %>
          <tr>
            <td><%= csr.name %></td>
            <td><%= link_to '<span class="glyphicon glyphicon-zoom-in"></span>'.html_safe + ' ' + truncate(csr.keypair.name, length: 12) , keypair_path(csr.keypair), class: 'btn btn-xs btn-default btn-show-modal', remote: true %></td>
            <td>
              <% if !csr.csrtemplate.nil? %>
                <%= link_to '<span class="glyphicon glyphicon-zoom-in"></span>'.html_safe + ' ' + truncate(csr.csrtemplate.name, length: 12), csrtemplate_path(csr.csrtemplate), class: 'btn btn-xs btn-default btn-show-modal', remote: true %>
			  <% else %>
			    No template
              <% end  # if %>
            </td>
            <td>
              <%= link_to '<span class="glyphicon glyphicon-zoom-in"></span> View'.html_safe, csr_path(csr), class: 'btn btn-sm btn-default btn-show-modal', remote: true %>
              <%= link_to '<span class="glyphicon glyphicon-edit"></span> Edit'.html_safe, edit_csr_path(csr), class:"btn btn-sm btn-default" %>
              <%= link_to '<span class="glyphicon glyphicon-trash"></span> Delete'.html_safe, csr, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" %>
             </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= render 'layouts/modal' %>
  </div>
<% end %>

<a class="btn btn-sm btn-default" href="<%=new_csr_path%>" role="button">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  Add CSR 
</a>
