<h1>Listing CSRs</h1>
<% if Csr.all.any? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Content</th>
          <th>Action</th>
        </tr>
      </thead>
    
      <tbody>
        <% @csrs.each do |csr| %>
          <tr>
            <td rowspan="2"><%= csr.id %></td>
            <td rowspan="2"><%= csr.name %></td>
            <td><%= truncate(csr.content, length: 70) %></td>
            <td rowspan="2">
              <%= link_to '<span class="glyphicon glyphicon-zoom-in"></span>'.html_safe, csr, class:"btn btn-sm btn-default" %>
              <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_csr_path(csr), class:"btn btn-sm btn-default" %>
              <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, csr, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" %>
             </td>
          </tr>
    	  <tr>
    		<td>CN: <%=csr.cn%>, O: <%=csr.o%>, OU: <%=csr.ou%>, L: <%=csr.l%>, S: <%=csr.s%>, C: <%=csr.c%>, Email: <%=csr.email%></td>
    	  </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<a class="btn btn-sm btn-default" href="<%=new_csr_path%>" role="button">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  Add CSR 
</a>
