<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">
    <div class="form-group">
      <%= f.label :username, class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :username, class:"form-control", id: "name" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.email_field :email, class:"form-control", rows:"10", id: "content_private" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class:"col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class:"col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
      </div>
    </div>


    <div class="col-sm-offset-2 col-sm-8">
      <div class="actions">
        <%= f.button :submit, name: "commit", value: "commit", class:"btn btn-success" do %>
          <span class="glyphicon glyphicon-ok"></span> Submit
        <% end %>
        <%= link_to '<span class="glyphicon glyphicon-remove"></span> Cancel'.html_safe, users_path, class:"btn btn-default" %>
      </div>
    </div>

  </div>
<% end %>
