<h1>Listing Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.email%></td>
        <td>
          <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_user_path(user), class:"btn btn-default" %>
          <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
    	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<a class="btn btn-default" href="<%=new_user_path%>" role="button">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  Add User
</a>
<a class="btn btn-default" href="<%=new_user_invitation_path%>" role="button">
  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
  Invite new user
</a>
