<h1>Listing Users</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
  
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.email%></td>
          <td>
            <% if (current_user.id == 1) || !(user.id == 1)  # display edit button if: current_user is admin -> always, or on every row except admins row for rest of users %>
              <%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_user_path(user), class:"btn btn-sm btn-default" %>
            <% end  #if %>
            <% unless user.id == 1  # dont display the delete-button on the adminuser's row (id=1) %>
              <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" %>
            <% end  # unless %>
      	</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<a class="btn btn-sm btn-default" href="<%=new_user_path%>" role="button">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  Add User
</a>
<a class="btn btn-sm btn-default" href="<%=new_user_invitation_path%>" role="button">
  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
  Invite new user
</a>
