<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @key.name %>
</p>

<p>
  <strong>Keytype:</strong>
  <%= @key.keytype.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @key.content %>
</p>

<%= link_to 'Edit', edit_key_path(@key), class:"btn btn-default" %> 
<%= link_to 'Back', keys_path, class:"btn btn-default" %>
