<p>
  <strong>Name:</strong>
  <%= @csrtemplate.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @csrtemplate.description %>
</p>

<p>
  <strong>Cn:</strong>
  <%= @csrtemplate.cn %>
</p>

<p>
  <strong>Ou:</strong>
  <%= @csrtemplate.ou %>
</p>

<p>
  <strong>O:</strong>
  <%= @csrtemplate.o %>
</p>

<p>
  <strong>L:</strong>
  <%= @csrtemplate.l %>
</p>

<p>
  <strong>S:</strong>
  <%= @csrtemplate.s %>
</p>

<p>
  <strong>C:</strong>
  <%= @csrtemplate.c %>
</p>

<p>
  <strong>Email:</strong>
  <%= @csrtemplate.email %>
</p>

<%= link_to 'Edit', edit_csrtemplate_path(@csrtemplate) , class:"btn btn-sm btn-default"%>
<%= link_to 'Back', csrtemplates_path , class:"btn btn-sm btn-default"%>
