<h1>Listing Settings</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Value</th>
        <th>Action</th>
      </tr>
    </thead>
  
    <tbody>
      <% @settings.each do |setting| %>
        <tr>
          <td><%= setting.name %></td>
          <td><%= setting.description %></td>
          <td><%= setting.value %></td>
          <td>
            <%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_setting_path(setting), class:"btn btn-sm btn-default" %>
            <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, setting, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" %>
      	</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
