<h1>Listing Keypairs</h1>
<% if Keypair.all.any? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @keypairs.each do |keypair| %>
          <tr>
            <td><%= keypair.name %></td>
            <td>
              <%= link_to '<span class="glyphicon glyphicon-zoom-in"></span> View'.html_safe, keypair_path(keypair), class: 'btn btn-xs btn-default btn-show-modal', remote: true %>
              <%= link_to '<span class="glyphicon glyphicon-edit"></span> Edit'.html_safe, edit_keypair_path(keypair), class:"btn btn-xs btn-default" %>
              <%= link_to '<span class="glyphicon glyphicon-trash"></span> Delete'.html_safe, keypair, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-xs btn-danger" %>
             </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= render 'layouts/modal' %>
  </div>
<% end %>

<a class="btn btn-xs btn-default" href="<%=new_keypair_path%>" role="button">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  Add Keypair
</a>
