<p id="notice"><%= notice %></p>

<h1>Listing Keypairs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Privatekey</th>
      <th>Publickey</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keypairs.each do |keypair| %>
      <tr>
        <td><%= keypair.name %></td>
        <td><%= keypair.privatekey %></td>
        <td><%= keypair.publickey %></td>
        <td><%= link_to 'Show', keypair %></td>
        <td><%= link_to 'Edit', edit_keypair_path(keypair) %></td>
        <td><%= link_to 'Destroy', keypair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keypair', new_keypair_path %>
