<h1>Listing Keypairs</h1>

<table class="table">
  <thead>
    <tr>
	  <th>Id</th>
      <th>Name</th>
      <th>Privatekey</th>
      <th>Publickey</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @keypairs.each do |keypair| %>
      <tr>
	    <td><%= keypair.id %></td>
        <td><%= keypair.name %></td>
        <td><%= truncate(keypair.privatekey, length: 60) %></td>
        <td><%= truncate(keypair.publickey, length: 60) %></td>
        <td>
          <%= link_to '<span class="glyphicon glyphicon-zoom-in"></span>'.html_safe, keypair, class:"btn btn-default" %>
          <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_keypair_path(keypair), class:"btn btn-default" %>
          <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, keypair, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<a class="btn btn-default" href="<%=new_keypair_path%>" role="button">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  Add Keypair
</a>
