<p>
  <strong>Name:</strong><br>
  <%= @keypair.name %>
</p>

<p>
  <strong>Privatekey:</strong><br>
  <%= simple_format @keypair.privatekey.html_safe %>
</p>

<p>
  <strong>Publickey:</strong><br>
  <%= simple_format @keypair.publickey.html_safe %>
</p>

<%= link_to 'Edit', edit_keypair_path(@keypair), class:"btn btn-sm btn-default" %>
<%= link_to 'Back', keypairs_path, class:"btn btn-sm btn-default" %>
