<%= form_for(@certificate) do |f| %>
  <% if @certificate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@certificate.errors.count, "error") %> prohibited this certificate from being saved:</h2>

      <ul>
      <% @certificate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">
    <div class="form-group">
      <%= f.label :name, class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :name, class:"form-control", id:'name' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :certificatetype_id, class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.select "certificatetype_id", options_from_collection_for_select(@certificatetypes, "id", "name", f.object.certificatetype_id), class:"form-control" %>
      </div>
  </div>

    <div class=" bg-info">
      <h3>Sign a CSR to create this certificate</h3>
      <div class="form-group">
        <%= f.label "CSR to sign", class:"col-sm-3 control-label" %>
        <div class="col-sm-7">
          <%= f.select "csr_id", options_from_collection_for_select(@csrs, "id", "name", f.object.csr_id), include_blank:'Select CSR to sign', id:'csr_id', class:"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Issuer's keypair", class:"col-sm-3 control-label" %>
        <div class="col-sm-7">
          <%= select_tag 'keystore', options_from_collection_for_select(@keystores, 'id', 'name'), include_blank:'Select CA keystore', id:'keystore_id' %>
        </div>
      </div>

      <% # AJAX call for generating a certificate %>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <%= link_to "Sign CSR and create certificate content", sign_certificates_path, method: :post, remote:true, id:"sign_button", class:"btn btn-info btn-xs btn-block" %>
          <%# catch onclick event for above link and submit selected template id to sign.js.erb via AJAX %>
          <script>
           $("#sign_button").on("click", function(event) {
              event.preventDefault();
              event.stopPropagation();
              $('#sign_button').text("Processing ...");
              $("#sign_button").addClass("disabled");
              $.ajax({
                type:'post',
                url: '/certificates/sign',
                dataType: 'script',
                data: {
                  csr_id: $("#certificate_csr_id").val(),
                  keypair_id: $("#kkeystore_id").val()
                },
                success: function(msg){
                  $("#sign_button").text("Sign CSR and create certificate content");
                  $("#sign_button").removeClass("disabled");
                }
              })
            });
          </script>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :content, class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_area :content, class:"form-control", rows: 10, class:"form-control", id:'content' %>
      </div>
  </div>

  <div class="col-sm-offset-2 col-sm-8">
      <div class="actions">
        <%= f.button :submit, name: "commit", value: "commit", class:"btn btn-sm btn-success" do %>
          <span class="glyphicon glyphicon-ok"></span> Submit
        <% end %>
        <%= link_to '<span class="glyphicon glyphicon-remove"></span> Cancel'.html_safe, request.referer, class:"btn btn-sm btn-default" %>
      </div>
    </div>
  </div>
<% end %>
