<%= form_for(@certificate) do |f| %>
  <% if @certificate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@certificate.errors.count, "error") %> prohibited this certificate from being saved:</h2>

      <ul>
      <% @certificate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">
    <div class="form-group">
      <%= f.label :name, class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :name, class:"form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :certificatetype_id, class:"col-sm-2 control-label" %><br>
      <div class="col-sm-8">
        <%= f.select "certificatetype_id", options_from_collection_for_select(@certificatetype, "id", "name", f.object.certificatetype_id), class:"form-control" %>
      </div>
	</div>
	
    <div class="form-group">
      <%= f.label :content, class:"col-sm-2 control-label" %><br>
      <div class="col-sm-8">
        <%= f.text_area :content, class:"form-control", rows: 10, class:"form-control" %>
      </div>
	</div>

	<div class="col-sm-offset-2 col-sm-8">
      <div class="actions">
        <%= f.button :submit, name: "commit", value: "commit", class:"btn btn-sm btn-success" do %>
          <span class="glyphicon glyphicon-ok"></span> Submit
        <% end %>
        <%= link_to '<span class="glyphicon glyphicon-remove"></span> Cancel'.html_safe, request.referer, class:"btn btn-sm btn-default" %>
      </div>
    </div>
  </div>
<% end %>
