<%= form_for(@certificate) do |f| %>
  <% if @certificate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@certificate.errors.count, "error") %> prohibited this certificate from being saved:</h2>

      <ul>
      <% @certificate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">

    <div class="form-group">
      <%= f.label :name, class:"control-label col-sm-3" %>
      <div class="col-sm-8">
        <%= f.text_field :name, class:"form-control", id:'name' %>
      </div>
    </div><!-- form-group -->

    <div class="form-group">
      <%= f.label 'Type', class:"control-label col-sm-3" %>
      <div class="col-sm-8">
        <%= f.select "certificatetype_id", options_from_collection_for_select(@certificatetypes, "id", "name", f.object.certificatetype_id), { include_blank:'Chose a certificate-type' }, { class:"form-control" } %>
      </div>
    </div><!-- form-group -->

    <div class="form-group">
      <button class="btn btn-xs btn-info col-sm-offset-3 col-sm-8" type="button" data-toggle="collapse" data-target="#collapseDecoded" aria-expanded="false" aria-controls="collapseDecoded">
        Sign CSR to create certificate content: <span class="glyphicon glyphicon-triangle-bottom"></span>
      </button>
    </div><!-- form-group -->

    <div class="collapse bg-info" id="collapseDecoded">
      <div class="form-group">
        <%= f.label "CSR to sign", class:"col-sm-3 control-label text-uppercase" %>
        <div class="col-sm-8">
          <%= f.select "csr_id", options_from_collection_for_select(@csrs, "id", "name", f.object.csr_id), { include_blank:'Select CSR to sign' }, { id:'csr_id', class: 'form-control' } %>
        </div>
      </div><!-- form-group -->
      
      <div class="form-group">
        <%= f.label "CA certificate", class:"col-sm-3 control-label text-uppercase" %>
        <div class="col-sm-8">
          <%= select_tag 'ca_certificate', options_from_collection_for_select(@ca_certificates, 'id', 'name'), { include_blank:'Select CA certificate, dont touch to self-sign', id:'ca_certificate_id', class: 'form-control' } %>
        </div>
      </div><!-- form-group -->
      
      <div class="form-group">
        <%= f.label "CA keypair", class:"col-sm-3 control-label text-uppercase" %>
        <div class="col-sm-8">
          <%= select_tag 'ca_keypair', options_from_collection_for_select(@ca_keypairs, 'id', 'name'), { include_blank:'Select CA keypair, dont touch to self-sign', id:'ca_keypair_id', class: 'form-control' } %>
        </div>
      </div><!-- form-group -->
      
      <div class="form-group">
        <div class="col-sm-offset-3">
        <div class="checkbox">
          <label><input type="checkbox" value="" id="add_cacert_extensions">Add CA extensions</label>
        </div>
        </div>
      </div><!-- form-group -->
      
      <% # AJAX call for generating a certificate %>
      <div class="form-group">
        <%= link_to "Sign", sign_certificates_path, method: :post, remote:true, id:"sign_button", class:"btn btn-warning btn-xs col-sm-offset-3 col-sm-8" %>
        <%# catch onclick event for above link and submit selected template id to sign.js.erb via AJAX %>
      </div>
      <script>
        $("#sign_button").on("click", function(event) {
          event.preventDefault();
          event.stopPropagation();
          $('#sign_button').text("Processing ...");
          $("#sign_button").addClass("disabled");
          $.ajax({
            type:'post',
            url: '/certificates/sign',
            dataType: 'script',
            data: {
              csr_id: $("#csr_id").val(),
              ca_certificate_id: $("#ca_certificate_id").val(),
              ca_keypair_id: $("#ca_keypair_id").val(),
              add_cacert_extensions: $("#add_cacert_extensions").prop('checked'),
            },
            success: function(msg){
              $("#sign_button").text("Sign CSR and create certificate content");
              $("#sign_button").removeClass("disabled");
            },
            error: function(xhr, status){
              $("#sign_button").text("Error. Try again?");
              $("#sign_button").removeClass("disabled");
            }
          })
        });
      </script>
    </div><!-- collapse -->

    <div class="form-group">
      <%= f.label :content, class:"control-label col-sm-3" %>
      <div class="col-sm-8">
        <small>
          <%= f.text_area :content, class:"form-control", rows: 10, class:"form-control pre", id:'content' %>
        </small>
      </div>
    </div>

    <div class="form-group">
      <div class="actions col-sm-offset-3 col-sm-8">
        <%= f.button :submit, name: "commit", value: "commit", class:"btn btn-xs btn-success" do %>
          <span class="glyphicon glyphicon-ok"></span> Submit
        <% end %>
        <%= link_to '<span class="glyphicon glyphicon-remove"></span> Cancel'.html_safe, request.referer, class:"btn btn-xs btn-default" %>
      </div>
    </div>
  </div>
<% end %>
