<p id="notice"><%= notice %></p>

<h1>Listing Certificates</h1>

<table class="table">
  <thead>
    <tr>
      <th>Certificatetype</th>
      <th>Key</th>
      <th>Csr</th>
      <th>Content</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @certificates.each do |certificate| %>
      <tr>
        <td><%= certificate.certificatetype.name %></td>
        <td><%= certificate.key.id %></td>
        <td><%= certificate.csr.id %></td>
        <td><%= truncate(certificate.content, length: 80) %></td>
        <td>
          <%= link_to '<span class="glyphicon glyphicon-zoom-in"></span>'.html_safe, certificate, class:"btn btn-default" %>
          <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_certificate_path(certificate), class:"btn btn-default" %>
          <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, certificate, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a class="btn btn-default" href="<%=new_certificate_path%>" role="button">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  Add Certificate
</a>
