<p>
  <strong>Name:</strong>
  <%= @certificate.name %>
</p>

<p>
  <strong>Certificate Type:</strong>
  <%= @certificate.certificatetype.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= simple_format @certificate.content.html_safe %>
</p>

<%= link_to 'Edit', edit_certificate_path(@certificate), class:"btn btn-default"  %>
<%= link_to 'Back', certificates_path, class:"btn btn-default"  %>
