<h1><%= t "devise.invitations.new.header" %></h1>
  <%= devise_error_messages! %>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
<div class="form-horizontal">

<% resource.class.invite_key_fields.each do |field| -%>
  <div class="form-group">
    <%= f.label field, class:"control-label col-sm-2" %>
    <div class="col-sm-8">
      <%= f.text_field field, class:"form-control" %>
    </div> <!-- col-sm8 -->
  </div> <!-- form-group -->
<% end #resource.class.invite_key_fields.each -%>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-8">
    <%= f.button :submit, name: "commit", value: "commit", class:"btn btn-xs btn-success" do %>
      <span class="glyphicon glyphicon-envelope"></span> Send invitation
    <% end %>

    <%= link_to '<span class="glyphicon glyphicon-remove"></span> Cancel'.html_safe, users_path, class:"btn btn-xs btn-default" %>
  </div>
</div> <!-- form-group -->

</div> <!-- form-horizontal -->
<% end # form_for resource %>
