<!-- _application.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
<title><%= @application_name.to_s%></title>
<%= render 'layouts/meta' %>
<%= render 'layouts/favicon' %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>

<body itemscope itemtype="http://schema.org/OrganizeAction" data-grid-framework="b3" data-grid-color="black" data-grid-opacity="0.1" data-grid-zindex="10" data-grid-gutterwidth="30px" data-grid-nbcols="12">
<%= render 'layouts/navigation' %>

<div id="main_container" class="container">
  <div class="row">
    <div id="main_content" class="col-sm-12">
      <%= render 'layouts/warnings' %>

<!-- yield -->
	    <%= yield %>
<!-- end yield -->

    </div>
  </div>
</div>

<%= render 'layouts/modal' %>
<%= render 'layouts/footer' %>

<!-- load these javascripts as late aspossible -->
<script>
  $(document).ready(function(){  
    var clip = new Clipboard('.btn-copy-clipboard');
  });
</script>
</body>
</html>
<!-- end _application.html.erb -->